{% load static %}
{% load customtags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Plat form </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "app/css/footer.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "app/css/header.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "app/css/main.css" %}'>
    <script src='main.js'></script>
</head>
<body class="corps">
    {% include 'app/footer_header/header_accueil.html'%}

    <div class="gauche">
        Bonjour à tous 
    </div>

    {% include 'app/footer_header/footer.html'%}
</body>
</html>