*{
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}

header{
    border-bottom: 1px solid #282839;
    background-color: #282839;
    font-size: large;
    color: #fff;
}
header li{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
header li a {
    display: block;
    padding: 20px;
}
header li a:hover {
    background-color: #5d8ff34f;
}

.sub-menu{
    display:none;
    position: absolute;
   /* background-color: #545;*/
    width: 200px;

}
header li:hover .sub-menu{
    display: grid;
}
